.about {
  padding: 64px 0;
  background-color: #e5e5e5;
}
.about h1 {
  padding: 24px;
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
}
.about-container {
  width: 800px;
  height: fit-content;
  margin: 0 auto;
  padding: 25px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-content: space-between;
}
.about-text {
  align-self: center;
  padding: 20px;
}
.about-text h2 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 16px;
}
.about-text-p {
  max-width: 350px;
  margin: 0;
  line-height: 1.5rem;
}

.technology h3 {
  font-weight: 400;
  font-size: 1.2rem;
  padding-left: 44px;
}

.technology-item {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
  list-style: none;
}
.technology-item-list {
  margin: 10px;
}
.technology-item img {
  width: 60px;
}

@media (max-width: 640px) {
}
@media (max-width: 375px) {
  .about-container {
    justify-content: center;
  }
  .technology-item {
    width: 360px;
    margin: 0 auto;
    justify-content: center;
  }
  .-item img {
    width: 30px;
  }
}
