.about-hobbies {
  background-color: #e5e5e5;
}
.hobbies {
  width: 850px;
  margin: 0 auto;
}

.hobbies-h1 {
  padding: 42px 0 32px;
  text-align: center;
  font-weight: 400;
}
.hobbies-p {
  width: 480px;
  margin: 0 auto 32px;
  line-height: 1.5rem;
  color: #000;
}

.hobbies-text-item {
  list-style: none;
}
.hobbies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hobbies-item-list {
  list-style: none;
  margin: 0 auto;
  padding-bottom: 16px;
}
.hobbies-item-list img {
  width: 220px;
}

@media (max-width: 640px) {
  .hobbies {
    width: 640px;
  }
  .hobbies-item {
    width: 540px;
    margin: 0 auto;
    justify-content: center;
  }
  .hobbies-item-list img {
    width: 180px;
  }
}

@media (max-width: 375px) {
  .hobbies {
    width: 375px;
  }
  .hobbies-p {
    width: 340px;
  }
  .hobbies-item-list img {
    width: 100%;
  }
}
